extends ./layout/index
block contenido
    main(class="container nt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            div(class="col-md-7")
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt est sapien, malesuada vestibulum quam sollicitudin eget. Proin vitae felis viverra, placerat massa sed, malesuada leo. Vivamus malesuada convallis tortor nec suscipit. Quisque metus sem, posuere vitae sem et, blandit consequat velit. Mauris vitae viverra felis. Nunc nec velit in magna molestie hendrerit quis non massa. Duis egestas dignissim enim, id molestie turpis. Nulla vitae molestie nibh. In ipsum dolor, placerat eget sapien eget, mollis accumsan erat. Pellentesque eget faucibus nisl, nec congue orci. Vestibulum vel quam quis nisi pulvinar hendrerit. Aenean lobortis eros a tortor pulvinar, ac porta risus fringilla. Proin ultrices velit eu felis congue finibus. Vivamus vehicula magna lectus, at convallis felis pulvinar vitae.
                p Suspendisse aliquam dui enim, et commodo ligula pharetra in. Proin ullamcorper bibendum diam, id sodales lorem interdum quis. Praesent eget sodales risus. Duis congue tincidunt orci, et tempus orci suscipit eu. Donec tristique arcu elit, eget tincidunt nunc blandit non. In in tristique libero. Praesent dictum a sapien ac sodales. Praesent at neque fringilla, mollis mi vitae, pharetra augue. Proin bibendum lobortis magna, et volutpat lectus accumsan id. Vivamus fermentum varius accumsan. Nunc varius sollicitudin sodales. Proin pharetra sed magna vitae scelerisque. Sed molestie mauris justo, nec scelerisque odio euismod non.
                p Mauris at augue ut magna maximus scelerisque nec in purus. Nulla iaculis ligula sit amet magna pulvinar, nec ornare sapien tristique. Donec aliquet purus quis augue venenatis dictum. Aenean ac justo orci. Quisque et est id ipsum eleifend commodo euismod mattis nunc. Nullam tempor faucibus nibh, in aliquam ipsum accumsan quis. Sed sodales ultrices lacus, quis maximus sapien fermentum convallis. Nullam lacinia, mi in mollis fringilla, odio nisl porta tortor, at venenatis tortor est et purus. Cras congue fringilla molestie. In sed massa nec purus faucibus viverra. Aliquam erat volutpat.

    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Aenean lobortis eros a tortor pulvinar, ac porta risus fringilla. Proin ultrices velit eu felis congue finibus. Vivamus vehicula magna lectus, at convallis felis pulvinar vitae.
                
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Destinos
                    p Aenean lobortis eros a tortor pulvinar, ac porta risus fringilla. Proin ultrices velit eu felis congue finibus. Vivamus vehicula magna lectus, at convallis felis pulvinar vitae.

                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Precios
                    p Aenean lobortis eros a tortor pulvinar, ac porta risus fringilla. Proin ultrices velit eu felis congue finibus. Vivamus vehicula magna lectus, at convallis felis pulvinar vitae.